<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>ProvoJS</title>
  <link rel="stylesheet" href="/css/style.css" type="text/css" />
</head>
<body>

  <h1>{{title}}</h1>
  <div class="mUpBanner">
    <div class="mUpEvent">
      <p class="mUpNextEvent">Our Next Meetup</p>
      <div class="mUpDay">
        <div class="mUpMonth">{{meetupMonth}}</div>
        <p>{{meetupDate}}</p>
      </div>
      <div class="mUpDetails">
        <p>{{meetupLocation}}</p>
        <h1 class="mUpTitle">{{meetupTitle}}</h1>
        <p class="mUpDateTime">{{meetupDateTime}}</p>
      </div>
    </div>
  </div>


  <p><a href="/slack">Join the Slack community</a></p>

  <p><a href="http://meetup.com/provojs">Meetup.com</a></p>

  <p><a href="http://github.com/provojs">Github.com</a></p>

</body>
</html>
